/* Variables*/
:root {
    /* Colores */
    --m-blue: #004470;
    --m-blue-light: #00447080;
    --m-blue-sky: #20A6FF;
    --m-white: #ffffff;
    --m-gray: #5B5B5B;
    --m-gray-light: #F2F2F2;

    /* Fuentes */
    --font-title: 'Poppins', sans-serif;
    --font-text: 'Lato', sans-serif;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

h1,h2,h3 {
    margin: 0;
}


h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width:1024px ){
    .contenedor {
        width: 80%;
    }
}


/* Codigo de el header */
.header__logo {
    display: block;
}


.header__logo img {
    padding: 2rem 0;
    display: block;
}

.header__container {
    text-align: center;

}

@media (min-width:768px ){
    .header__container {
        background: linear-gradient(270deg, #0370F5 15.24%, #20A6FF 71.77%, #20A6FF 111.26%);
        height: 16rem;
        display: flex;
        align-items: center;
        text-align: left; 
        padding: 0 12rem; 
        margin-bottom: 4rem;  
    }
}

.header__text {
    padding: 2rem 0;
    color: var(--m-blue);
}

@media (min-width:768px ){
    .header__text {
        color: var(--m-white);
    }

}

.header__title {
    font-size: 2.4rem;
    font-family: var(--font-title);
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    margin-bottom: 1.2rem;
}

@media (min-width:768px ){
    .header__title {
        font-size: 3.2rem;
    }
}

.header__paragraph {
    font-family: var(--font-text);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500; /* 256.25% */
    margin: 0;
}

@media (min-width:768px ){
    .header__paragraph {
        font-size: 2rem;
    }
}

/* Para el carrusel use bootstrap */
.carousel-indicators [data-bs-target] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }

.deslizador {
    background: linear-gradient(270deg, #0370F5 15.24%, #20A6FF 71.77%, #20A6FF 111.26%);
    height: 17rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

@media (min-width:768px ){
    .deslizador {
        display: none;
    }
}


.deslizador__flex {
    display: flex;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
    align-items: start;
    height: 6.6rem;
}

.deslizador__circle {
    background-color: var(--m-white);
    padding: 1rem;
    border-radius: 50%;
}

.deslizador__paragraph {
    font-size: 1.6rem;
    line-height: 21.6px;
    color: var(--m-white);
    font-weight: 500;
}

.deslizador__paragraph span {
    font-weight: 700;
}

.deslizador__circle img {
    width: 100%;
    height: auto;
}


/* Parte principal de la web */

.main__contenedor{
    padding: 0 2rem;
}

@media (min-width:768px ){
    .main__contenedor{
        padding: 0;
        display: flex;
        gap: 6rem;
    }
}


.main__text {
    color: var(--m-blue);
    font-size: 1.8rem;
    font-size: 600;
}

.main__text span {
    font-size: 2.2rem;
    font-weight: 800;
}

.main__formulario {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-bottom: 1rem;
}

@media (min-width:768px ){
    .main__formulario {
        margin: 0;
        flex: 3;
    }

}

.main__formulario::placeholder {
    color: var(--m-blue);
}

.main__formulario input[type="text"],
.main__formulario input[type="email"],
.main__formulario input[type="tel"] {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--m-gray-light);
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
    outline: none;
    
}

.main__formulario input[type="submit"] {
    background: linear-gradient(98.34deg, #A281E5 0.01%, #8D4EF9 24.85%, #4764FF 70.51%, #1CA4FF 94.28%);
    width: 15rem;
    margin: 0 auto;
    color: var(--m-white);
    padding: 1rem;
    border-radius: 2.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.main__check {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main__checktext {
    margin: 0;
    font-size: 1.2rem;
    color: var(--m-gray);
}

.main__checktext a {
    display: inline;
    color: var(--m-blue-sky);
}


.main__foot {
    padding: 0 2rem;
    font-size: 1.2rem;
    color: var(--m-blue-light);
}

@media (min-width:768px ){
    .main__foot {
        padding: 0;
    }
}

.main__detalles {
    display: none;
}


@media (min-width:768px ){
    .main__detalles {
        display: flex;
        flex: 5 ;
    }
}

.main__picture {
    flex: 4;
}


.main__info {
    flex: 8;
}

.main__permises {
    color: var(--m-blue-light);
}

.main__flex {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.main__flex img {
    padding-top: .8rem;
}

.main__flex p {
    font-size: 1.8rem;
    color: var(--m-blue);
}

.main__flex p span{
    font-weight: 700;
}

.main__permises {
    font-size: 1.4rem;
}